openapi: 3.0.3
info:
  title: XMOJ BBS API
  version: 0.1.0
servers:
  - url: https://xmoj-bbs.tech
paths:
  /GetBoards:
    post:
      summary: List boards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                Data:
                  type: object
                  properties:
                    Limit:
                      type: integer
                      default: 50
                    Offset:
                      type: integer
                      default: 0
      responses:
        '200':
          description: Boards list
  /GetPosts:
    post:
      summary: List posts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Authentication:
                  type: object
                Data:
                  type: object
                  properties:
                    ProblemID: { type: integer }
                    BoardID: { type: integer }
                    Page: { type: integer }
                    Limit: { type: integer, default: 15 }
      responses:
        '200': { description: Posts list }
  /GetBBSMentionList:
    post:
      summary: List mentions for current user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Authentication:
                  type: object
                Data:
                  type: object
                  properties:
                    Limit: { type: integer, default: 50 }
                    Offset: { type: integer, default: 0 }
      responses:
        '200': { description: Mentions list }
  /DeletePost:
    post:
      summary: Delete a post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Authentication:
                  type: object
                Data:
                  type: object
                  properties:
                    PostID: { type: integer }
      responses:
        '200': { description: Delete status }
  /DeleteReply:
    post:
      summary: Delete a reply
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Authentication:
                  type: object
                Data:
                  type: object
                  properties:
                    ReplyID: { type: integer }
      responses:
        '200': { description: Delete status }
